@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.container {
  height: 100%;
  display: block;
  overflow-y: auto;
  padding: var(--spacing-xl) var(--spacing-md);
  @include scrollbar;
  width: 100%;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;

  &:focus, &:focus-within, &:active {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }

  &--sans { font-family: var(--font-sans); }
  &--serif { font-family: var(--font-serif); }

  &--location {
    padding-top: 0;
  }
}

.editor {
  width: 100%;
  outline: none !important;
}
